.appContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    /* Limit max width for large screens */
    margin: 0 auto;
    padding: 1rem 2rem;
}

.contentWrapper {
    flex: 1;
    width: 100%;
}

/* Mobile Responsive */
@media (max-width: 1024px) {
    .appContainer {
        padding: 0.5rem 1rem;
    }
}